@import 'stylesheets/grass.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: "Gameboy";
  src: url("/Pokemon GB.ttf");
}

body {
  font-family: "Gameboy";
}
